body {
  background: url('./images/Dark side wallpaper.jpg') no-repeat;
  background-size: 100%;
}

form {
  padding: 0 25rem;
}

label {
  color: white;
  margin-top: 2rem;
}

.form-group {
  margin-top: 1rem;
  margin: 0 1rem;
}

.form-container {
  
}

.btn-primary {
  box-shadow: 0px 0px 5px 2.5px;
}

.btn-primary:hover {
  color: #052875;
  background-color: white;
  border-color: #052875;
}

.buttons {
  display: flex;
  margin-top: 4rem;
}