body {
  background: url('./images/Dark side wallpaper.jpg') no-repeat;
  background-size: 100%;
}

form {
  padding: 0 25rem;
}

label {
  color: white;
  margin-top: 2rem;
}

.form-group {
  margin-top: 1rem;
  margin: 0 1rem;
}